{# templates/history/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Cryptocurrency Price History{% endblock %}

{% block body %}
    <h1>Cryptocurrency Price History</h1>

    {% if priceHistories is not empty %}
        {% for cryptoName, historyData in priceHistories %}
            <div>
                <h2>{{ cryptoName }} Price History</h2>
                <canvas id="{{ cryptoName|lower }}Chart" width="400" height="200"></canvas>
            </div>
            <script>
                function extractPrices(historyData) {
                    var prices = [];
                    for (var i = 0; i < historyData.length; i++) {
                        prices.push(historyData[i].price);
                    }
                    return prices;
                }

                function extractTimestamps(historyData) {
                    var timestamps = [];
                    for (var i = 0; i < historyData.length; i++) {
                        timestamps.push(historyData[i].timestamp);
                    }
                    return timestamps;
                }

                document.addEventListener("DOMContentLoaded", function() {
                    var ctx = document.getElementById("{{ cryptoName|lower }}Chart").getContext('2d');
                    var prices = extractPrices({{ historyData|json_encode|raw }});
                    var timestamps = extractTimestamps({{ historyData|json_encode|raw }});
                    
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [{
                                label: 'Price History',
                                data: prices,
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1,
                                pointRadius: 2, // Adjust the point radius as needed
                                pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                                fill: false,
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    type: 'linear',
                                    position: 'bottom'
                                },
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                });
            </script>
        {% endfor %}
    {% else %}
        <p>No price history data available.</p>
    {% endif %}
{% endblock %}
