{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1 class="mt-4">Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Date_transaction</th>
                <td>{{ transaction.dateTransaction ? transaction.dateTransaction|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ transaction.quantity }}</td>
            </tr>
            <tr>
                <th>Transaction_amount</th>
                <td>{{ transaction.transactionAmount }}</td>
            </tr>
            <tr>
                <th>Transaction_type</th>
                <td>{{ transaction.transactionType }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-warning mt-4"><a href="{{ path('app_transaction_index') }}">back to list</a></button>

    {# <button type="button" class="btn btn-warning mt-4"><a href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">edit</a></button> #}

    {{ include('transaction/_delete_form.html.twig') }}

</div>
{% endblock %}
